
.addsubhead{
    background-color:hsla(0,0%,50%,.1);
    margin: 0;
    padding-top:40px;
    padding-left: 15%;
    line-height: 1.5px;
    padding-right: 15%;
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
}
.error{
    margin: 0px;
    font-size: 25px;
    color:red;
    font-style: italic;
}
.description{
    height: 46px;
    padding: 1px 10px;
    border: 1px solid #cacccd;
    margin-bottom: 10px;
    font-size: 20px;
}
.amountdata{
    height: 46px;
    padding: 1px 10px;
    border: 1px solid #cacccd;
    margin-bottom: 10px;
    font-size: 20px;
}
.textarea{
    height: 46px;
    padding: 1px 10px;
    border: 1px solid #cacccd;
    margin-bottom: 10px;
    font-size: 20px;
    height: 150px;
    padding-top:10px;
}
.date{
    margin-bottom: 5px;
    font-size: 25px;
}
.addexpense{
    width: auto;
    height: 35px;
    background: rgb(73, 142, 245);
    color:white;
    border: none;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    margin-left: 15%;
    
}
.addexpense p{
    margin:0;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-size: cover;*/
    height: 400px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

 